.header{
    display: flex;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07);
    position: fixed;
    top: 0;
    width: 100%;
    z-index : 999;
    background-color: #fff;

    .logo{
        width: 40px;
        height: 40px;
        margin: 10px;
        img{
            width: 100%;
        }
    }
    .header-content{
        display: flex;
        flex-grow: 1;
        justify-content: end;
        align-items: center;
        margin: 0 20px;

        .search{
            display: flex;
            align-items: center;
            flex-grow: 2;
            i{
                font-size: 18px;
            }
            .ant-input{
                border: none;
                &:focus{
                    box-shadow: none;
                }
            }

        }
        .data{
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            align-items: center;

            .data-display{
                ul{
                    display: flex;
                    list-style: none;
                    margin-bottom: 0;
                    li{
                        margin: 0 10px;
                        .quantity{
                            font-weight: bold;
                            font-size: 15px;
                            margin-right: 5px;
                        }
                        .value{
                            font-size: 11px;
                        }
                    }
                }
            }
            .profile-photo{
                width: 40px;
                height: 40px;
                margin: 10px;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
    }
}